@font-face {
    font-family: "Source Sans Variable";
    src: url(./fonts/SourceSansVariable-Roman.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Variable";
    src: url(./fonts/SourceSansVariable-Italic.otf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Rexton";
    src: url(./fonts/RextonBold.otf);
}
