.site-footer{
    display: flex;
    width: 100%;
    position: relative;
    min-height: 500px;
    @include responsive(xl){
        min-height: 400px;
    }
    @include responsive(md){
        min-height: 300px;
    }
    @include responsive(sm){
        min-height: 150px;
    }
    .content-wrap{
        width: 100%;
        height: auto;
        padding: 40px;
        @include responsive(md){
            padding: 10px 25px;
        }
        .inner{
            max-width: 1660px;
            width: 100%;
            position: relative;
            z-index: 2;
            // padding: 40px 0;
            margin: 0 auto;
            justify-content: end;
            align-items: end;
            height: 100%;
            display: flex;
            .logo-wrap{
                display: flex;
                height: fit-content;
                width: fit-content;
            }
            .logo{
                max-width: 300px;
                width: 100%;
                @include responsive(md){
                    max-width: 200px;
                }
                @include responsive(sm){
                    max-width: 150px;
                }
                @include responsive(xs){
                    max-width: 80px;
                }
            }
        }
    }
}